* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  background-color: #fff5e4;
}
.profile-image {
  border-radius: 40px;
  float: right;
  margin-top: 30px;
  margin-right: 100px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #850e35;
  background-color: #ffc4c4;
  text-align: center;
  display: inline;
  border-radius: 10px;
}
li:hover {
  font-weight: bold;
}
.isabel-things {
  display: grid;
  grid-template-columns: 2fr;
  gap: 1fr;
  margin-left: 5px;
}
.footer-position {
  text-align: right;
  padding-top: 400px;
  position: static;
}
.jkpg {
  margin: 5px;
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-area: 1fr 1fr;
  gap: 2rem;
}
.home {
  clear: left;
  margin: 10px;
  text-align: center;
  background-color: #ee6983;
  border-radius: 40px;
}
.header {
  clear: right;
  margin: 10px;
  text-align: center;
  background-color: #ee6983;
  border-radius: 40px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.item1 {
  background-color: #ff869e;
  align-items: center;
  border-radius: 40px;
  text-align: center;
  height: 50px;
  width: 20vw;
}
.item2 {
  background-color: #ffb9b9;
  border-radius: 40px;
  width: 20vw;
  height: 50px;
  text-align: center;
}
.item3 {
  background-color: #ff8dc7;
  align-content: center;
  border-radius: 40px;
  align-content: center;
  width: 15vw;
  height: 50px;
  text-align: center;
}
.item4 {
  background-color: #e63e6d;
  border-radius: 40px;
  width: 20vw;
  height: 50px;
  text-align: center;
}
div:hover {
  font-weight: bold;
}
.nct {
  margin: 10px;
  text-align: center;
  background-color: #e63e6d;
  border-radius: 40px;
}
.jkpg1 {
  border-color: #ff869e;
  border-style: solid;
}
.jkpg2 {
  border-color: #ffb9b9;
  border-style: solid;
}
.jkpg3 {
  border-color: #ff8dc7;
  border-style: solid;
}
.jkpg4 {
  border-color: #e63e6d;
  border-style: solid;
}
.jkpg1:hover {
  border-width: 5px;
}
.jkpg2:hover {
  border-width: 5px;
}
.jkpg3:hover {
  border-width: 5px;
}
.jkpg4:hover {
  border-width: 5px;
}
@media screen and (min-height: 844px) {
  .running-text {
    columns: 2;
  }
  .texto-numero2 {
    columns: 2;
  }
  .profile-image {
    margin-right: 0px;
  }
  .item1 {
    border-radius: 10px;
    font-size: smaller;
    text-align: center;
  }
  .item2 {
    border-radius: 10px;
    font-size: smaller;
    width: 100px;
  }
  .item3 {
    border-radius: 10px;
    font-size: smaller;
    width: 100px;
    text-align: center;
  }
  .item4 {
    border-radius: 10px;
    font-size: smaller;
    width: 100px;
  }
  .footer-position {
    padding-top: 250px;
    position: static;
  }
  .container {
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .projects {
    font-size: smaller;
  }
  .doggie {
    margin-left: 150px;
    position: absolute;
  }
}

.work1 {
  background-color: #ffc4c4;
  width: 20vw;
  border-radius: 5px;
  text-align: center;
}
.work2 {
  background-color: #ee6983;
  width: 20vw;
  border-radius: 5px;
  text-align: center;
}
.work3 {
  background-color: #ff7d7d;
  width: 20vw;
  border-radius: 5px;
  text-align: center;
}
.work4 {
  background-color: #ff8787;
  width: 20vw;
  border-radius: 5px;
  text-align: center;
}
.work5 {
  background-color: #e0144c;
  width: 20vw;
  border-radius: 5px;
  text-align: center;
}
.flyer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flyer-text {
  background-color: #ff8dc7;
  border-radius: 15px;
  text-align: center;
}
.project-header {
  margin: 5px;
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-area: 1fr 1fr;
  gap: 2rem;
}
.projects-main {
  background-color: #ee6983;
  border-radius: 10px;
}
.Isabel-home {
  background-color: #ee6983;
  border-radius: 10px;
}
.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 2rem;
}
.doggie {
  float: right;
  margin-right: 300px;
  margin-top: 50px;
  border-color: #e0144c;
  border-style: double;
}
.doggie:hover {
  border-width: 5px;
}
.cute {
  margin: 5px;
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-area: 1fr 1fr;
  gap: 2rem;
}
.cute1 {
  clear: left;
  margin: 10px;
  text-align: center;
  background-color: #ee6983;
  border-radius: 40px;
}
.cute2 {
  clear: left;
  margin: 10px;
  text-align: center;
  background-color: #ee6983;
  border-radius: 40px;
}
